/*Common*/

body {
    font-family: Arial, sans-serif;
    color: white;
}

.btn {
    border-radius: 20px;
    color: white;
}


/*Header*/

/*Header-Top*/

.header-top {
    background-color: black;
    padding: 15px 0;
}

.logo {
    height: 20px;
}

/*Header-Bottom*/

.navbar-light .navbar-nav .nav-link {
    color: black;
}


.btn-header {
    background-color: #363636;
}

.nav-right li{
    margin-left: 20px;
}

.nav-left li {
    margin-right: 20px;
}

.fa-search {
    font-size: 20px;
}

/*Main*/

/*Hero*/

.hero {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-text {
    padding-top: 360px;
    padding-bottom: 40px;
}
.hero-img {
    height: 40px;
}

.hero-btn {
    background-color: #cd3d0f;
    margin-top: 20px;
}