/*Common*/

body {
    font-family: Arial, sans-serif;
    color: white;
}

.btn {
    border-radius: 20px;
    color: white;
}

.playcolor {
    color: #0072ce;
    font-weight: bold;
}

.bg-playcolor {
    background-color: #0072ce;
}
h2 {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
}

.c-black {
    color: black;
    
}

.subtitle {
    color: #7e7e7e;
    font-weight: bold;
    margin-bottom: 40px;
}

.opacity {
    opacity: 0.6;
}

.buy-btn {
    background-color: #cd3d0f;
    margin-top: 20px;
}


/*Header*/

/*Header-Top*/

header {
    position: fixed;
    top: 0;
    z-index: 99;
}

.header-top {
    background-color: black;
    padding: 15px 0;
}

.logo {
    height: 20px;
}

/*Header-Bottom*/

.header-bottom {
    background-color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}


.btn-header {
    background-color: #363636;
}

.nav-right li{
    margin-left: 20px;
}

.nav-left li {
    margin-right: 20px;
}

.fa-search {
    font-size: 20px;
    color: black;
}

/*Main*/

/*Hero*/

/*Hero-Top*/

.hero-top {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.hero-text {
    padding-top: 420px;
}
.hero-img {
    height: 40px;
}



/*Hero-Bottom*/

.hero-bottom {
    margin-top: 30px;
}

.game-cont {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 24px;
}

.b-radius-blue {
    border: 2px solid #0072ce;
    padding: 3px;
}
.game-img {
    width: 100%;
    border-radius: 15px;
}

/*PS5-Section*/

.b-bottom {
    border-bottom: 2px solid #0072ce;
}

.accessories p {
    margin-top:20px;
}

.ps5-section img {
    width: 100%;
}

/*Upcoming*/

/*It Take Two*/

.upcoming{
    background-color: #1f1f1f;
}

.ittakestwo-banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.ittakestwo-logo {
    height: 250px;
    padding: 30px 0;
}

/*Upcoming Games*/

.game-cont p {
    margin-top: 10px;
}

/*PS4*/

.ps4 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.ps4 img {
    width: 100%;
}

.ps4 h2 {
    font-weight: normal;
}

/*PS Plus*/

.ps-plus {
    background-color: #bebcbb;  
}

.ps-plus-logo {
    height: 80px;
}

.ps-plus-btn {
    background-color: #d9dadc;
}